$rank5: rgba(106, 32, 95, 1);
$rank4: rgba(106, 32, 95, 0.7);
$rank3: rgba(106, 32, 95, 0.4);
$rank2: rgba(106, 32, 95, 0.2);
$rank1: #dadada;
$foreground-light: #fff;
$foreground-dark: #6d626b;
$border-selected: solid .3em $rank5;
$border-table: thin dotted #ccc;

html {
  -webkit-font-smoothing: antialiased;
  background: #fff;
}
input, p, form {
  border: none;
  margin: 0;
}
[draggable] {
  cursor: move;
}
.table {
  display: inline-table;
  padding: .4em;
  min-width: 25em;
  max-width: 50em;
  vertical-align: top;
  border: $border-table;
}
.table-column {
  /* TODO transform to flex layout */
  display: inline-block;
  vertical-align: top;
}
.table-row__content {
  display: table-cell;
  padding: 1em;
  border: $border-table;
}
.table-row {
  display: table-row;
  width: 100%;
}
.table-cell {
  display: table-cell;
  padding: .5em;
  min-width: 4em;
  text-align: center;
  border: $border-table;
}
.table-cell__header,
.table-cell__footer  {
  @extend .table-cell;
}
.table-cell__header img {
  max-width: 3em;
}
.text-container {
  display: table-cell;
  padding: .4em;
  margin: 0;
  min-width: 20em;
  max-width: 50em;
  border: $border-table;
}
.text-container--input {
  /* TODO */
}
.rank-list {
  &:after {
    clear: both;
  }
}
.rank {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  width: 1.8em;
  line-height: 1.8em;
  font-size: 1em;
  border-radius: 1em;
  font-family: helvetica;
  cursor: pointer;
}
.rank--input {
  width: .83em;
  height: 1.2em;
  line-height: 1.35em;
  font-size: 1em;
  border-radius: 1em;
  border: $border-selected;
  padding-left: .4em;
  font-family: helvetica;
}
/* FIXME */
.rank--input:focus {
  outine: none;
  /* border: solid dotted #ccc; */
}
.rank--selected {
  border: $border-selected;
  width: 1.3em;
  height: 1.25em;
  line-height: 1.35em;
}
.rank--5.rank--selected {
  background-color: $rank3;
}
.rank--1 {
  @extend .rank;
  color: $foreground-dark;
  background-color: $rank1;
}
.rank--2 {
  @extend .rank;
  color: $foreground-dark;
  background-color: $rank2;
}
.rank--3 {
  @extend .rank;
  color: $foreground-light;
  background-color: $rank3;
}
.rank--4 {
  @extend .rank;
  color: $foreground-light;
  background-color: $rank4;
}
.rank--5 {
  @extend .rank;
  color: $foreground-light;
  background-color: $rank5;
}